body {
    font-family: Courier, serif;
    margin: 0;
}
ul {
    justify-content: right;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #777;
    border-left: none;
    border-right: none;
    width: 100%;
    background-color:linen;
}

li {
    right: 10px;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:1px;
    font-size: 25px;
    width: 100px;
}

li a {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: block;
    text-align: center;
    background-color:linen;
    font-size: 25px;
    text-decoration: none;
    color: #997;

}

li a:hover {
    color: #770000;
    animation-fill-mode: forwards;
    animation-name: wiggle;
    animation-duration: 0.2s;
}

li:first-child {
    width: 150px;
}

.form {
    margin: auto;
    position: relative;
    width: 800px;
    
}
.form p:first-child {
    margin-top: 175px;
    font-size: 25px;
    font-weight:500;
    text-align: center;
    margin-bottom: 50px;
}
.form p {
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-weight: bold;
}

.form p input {
    margin-top: -25px;
    border-color: #ccc;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 500px;
    font-size: 16px;
    text-indent: 20px;
}

.form p:last-child input {
    margin-top: 50px;
    text-indent: 0px;
    color: #777;
    background-color: #fff;
    border-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.form p:last-child input:hover {
    animation-name: wiggle;
    animation-duration: 0.1s;
    color: #770000;
}


.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
  }
.container > div {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 250px;
    width: 700px;
    font-size: 30px;
    transition: box-shadow 0.3s ease;
    
  }

  .container >div:first-child:hover, .container >div:nth-child(3):hover {
    box-shadow: -15px 15px 5px rgba(216, 216, 216, 0.5);
  }
  .container >div:last-child:hover, .container >div:nth-child(2):hover {
    box-shadow: 15px 15px 5px rgba(216, 216, 216, 0.5);
  }
.container > div:first-child, .container >div:nth-child(2) {
    box-shadow: 5px 5px 5px rgba(216, 216, 216, 0.5);
    margin-top: 0px;
}
.container > div:first-child, .container >div:nth-child(3) {
    box-shadow: -5px 5px 5px rgba(216, 216, 216, 0.5);
    margin-top: 0px;
}
.container > div:nth-child(2), .container >div:last-child {
    box-shadow: 5px 5px 5px rgba(216, 216, 216, 0.5);
    margin-top: 0px;
}

.container > div > a {
    position: absolute;
    text-decoration: none;
    color: #777;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.container > div > a:hover {
    animation-name: shift-arrows;
    animation-duration: 0.4s;
    color: #770000;
}
.container > div >a:hover:after {
    position: relative;
    content: "\ >>";
    color:#770000;
    animation-name: add-arrows;
    animation-duration: 0.4s;
    left: -8px;
}

@keyframes add-arrows {
    0% {
        left: -30px;
        opacity: 0;
    }
    100% {
        left: -8px;
        opacity: 1;
    }
}
@keyframes nav-hover-fade {
    0% {
        background-color:linen;

    }
    
    100% {
        background-color: #dad0c9;
    }
    
}

@keyframes wiggle {
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
}