{% include "menu.html" %}
<style>body {overflow: scroll;}</style>
<form action="./postplace.html" method = "POST" class="form">
    <p>POST PLACE</p>
    <p>Id</p>
    <p><input type = "text" name = "place_id" placeholder=""/></p>
    <p>Name</p>
    <p><input type = "text" name = "name" placeholder=""/></p>
    <p>Category</p>
    <p><input type = "text" name = "category" placeholder=""/></p>
    <p>X-Coordinate</p>
    <p><input type = "text" name = "coordx" placeholder=""/></p>
    <p>Y-Coordinate</p>
    <p><input type = "text" name = "coordy" placeholder=""/></p>
    <p>About</p>
    <p><input type = "text" name = "about" placeholder=""/></p>
    <p>Address</p>
    <p><input type = "text" name = "address" placeholder=""/></p>
    <p>Open Hours</p>
    <p><input type = "text" name = "open_hours" placeholder=""/></p>
    <p>Website</p>
    <p><input type = "text" name = "website" placeholder=""/></p>
    <p>Phone Number</p>
    <p><input type = "text" name = "phone_number" placeholder=""/></p>


    <p><input type = "submit" value = "CREATE PLACE" name="button"/></p>
</form>